// colors.scss
// -----------------------------------------------------------------


$border-color:        #E6E6E6;
$taupe-bg:            #f3f1f0;
$grey-dark:           #1E252B;
$maroon:              #8B2332;
$green:               #7A9C49;
